.feedbackForm-popup {
background-color: #fff;
width: 200rem;
height: 120rem;
box-shadow: 0px 0px 20px rgb(0 0 0 / 16%);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 1.2rem;
overflow: hidden;
}
.feedbackForm-popup-body{
    height: 70rem;
        
        .form-head{
        margin-left: 2rem;
        margin-top: 2rem;
        padding: 3rem;
        h2{
            
            left: 24px;
            top: 99px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 45px;
            text-decoration-line: underline;
            color: #000000;

        }
    }
    
    .createjob-adddoc-batch{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15rem;
    margin-top : 8rem;
    label {
        font-size: 3rem;
    }
    input{
        display: block;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 3rem;
    }
        p{
            border-bottom: 1px solid #515151;
            width: 50%;
            color:#515151;
            margin-bottom: 0;
        }
        
    }
    .reply{
        background-color: #2186f2;
    
    color: #fff;
    width: 20rem;
   
    font-size: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1.8rem;
    margin-top: 150px;
}
        
      
      
      .btn-cancel{
        background-color:   #F4F4F4 ;
        color: #9F9F9F;
         
            font-size: 3rem;
         
            text-align: center;
            position: relative;
            top:17rem;
      
        }
    
    
    }