.Form-dash{
    position: absolute;
width: 1925px;
height: 1832px;
left: 685px;
top: 959px;

background: #EFF5FB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 18.2692px;
}
.form-picture{
    img{
        width : "400rem"
    }
}

.Feedback_space{
    position: absolute;

left: 775px;
top: 154px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56.5385px;
line-height: 55px;
text-align: center;
color: #FFFFFF;

}
.Feedback_des{
    position: absolute;


    left: 75px;
    top: 254px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 31.9231px;
line-height: 43px;

color: #FFFFFF;
}
.Question-text{
    position: absolute;
width: 1920.24px;
height: 478.65px;

top: 491.5px;

background: #FFFFFF;
box-shadow: 0px 5.48077px 10.9615px rgba(0, 0, 0, 0.06);
border-radius: 18.2692px;
}
.question-dot{
    position: absolute;
width: 15.48px;
height: 15.48px;
left: 963.03px;
border-radius: 10px;
margin-left : -30px;
margin-top:30px;
background: rgba(81, 81, 81, 0.6);
}
.Question-plain{
 margin-left : 50px;
 margin-top:100px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 37.4038px;
line-height: 41px;
color: #000000;

}
.option_radio1{
    left: 494.42px;
    top: 967.32px;
   
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28.2692px;
    line-height: 27px;
    color: #000000;
    margin-left: 65px;
    margin-top : 10px;
}
.option_radio{
    left: 494.42px;
    top: 967.32px;
   
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28.2692px;
    line-height: 27px;
    color: #000000;
    margin-left: 65px;
    margin-top : 50px;
}
.more_option{
        
        margin-left : 52.4px;
        margin-top: 52.27px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 28.2692px;
        line-height: 27px;
        color: #2186F2;
       
}
.desk-line{
     position: absolute;
    width: 1919.24px;
    height: 0px;
    margin-top : 50px;

    border: 0.913462px solid #515151;
}
.bottom-text{
     display : flex;
     position: absolute;

     margin-left: 1500px;
     margin-top:81px;
     font-size: 30px;

}
.Question-text1{
    position: absolute;
width: 1920.24px;
height: 478.65px;

top: 1091.5px;

background: #FFFFFF;
box-shadow: 0px 5.48077px 10.9615px rgba(0, 0, 0, 0.06);
border-radius: 18.2692px;
}
.custom_input_box1{
position: absolute;
    width: 348px;
    height: 59px;
    left: 1427px;
    
    height: 59px;
    left: 1427px;
    background: #FFFFFF;
    border: 1px solid #E0D7D7;
    box-sizing: border-box;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 6%);
    border-radius: 12px;
}
.custom_visible_subject1{
visibility: visible;
    height: 17.7rem;
    opacity: 1;
    height: 32rem;
    width: 28rem;
    left: 22rem;
    z-index: 1;
}