
.listings-bar-right-filter1{
    position: static;
    width: 145px;
    height: 49px;
    position: absolute;
    left : 78%;
    top: 163px;
    z-index: 1;
    background: #FFFFFF;
    border: 1px solid #EBE9E9;
    box-sizing: border-box;
    border-radius: 46px;
    }
