.field{
    display: flex;
    // justify-content: space-between;
    // width: 20%;
    margin-top: 4rem;
    align-items: end;
    margin-left: 50rem;
    h3{
        display: inline-block;
        width: 10rem;
        font-size: 3rem;
        
    }
    .input-box{
    border: 1px solid gray;
    border-radius: 1.5rem;
    margin-left: 17rem;
    width: 65rem;
  
    input{
        margin: 1rem;
    }
    }
    
    .input-box-dropdown{
    border: 1px solid gray;
    border-radius: 1.5rem;
    margin-left: 17rem;
    width: 65rem;
    display: flex;
 
    justify-content: space-between;
    input{
        margin: 1rem;
    }
    }

    .ticket-batch-action{
      &-subject{
        &-rel {
          position: relative;
        }
      
        &-square {
          width: 2rem;
          height: 2rem;
          position: absolute;
          background-color: #fff;
          top: -0.9rem;
          left: 50%;
          transform: translatex(-50%) rotate(45deg);
        }
        position: absolute;
        top: 3.8rem;
        left: -1rem;    
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 0.3s, visibility 0.4s, opacity 0.4s;
        left: -10rem;
        width: 22rem;
      
        box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 1rem;
        border-radius: 2rem;
        list-style: none;
      
        option {
          margin: 1rem 0;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          transition: all 0.3s;
          cursor: pointer;
      
          &:hover {
            background-color: rgb(233, 233, 233);
            border-radius: 2rem;
          }
      
          img {
            margin-right: 1rem;
          }
        }
      }




      &-priority{
        &-rel {
          position: relative;
        }
      
        &-square {
          width: 2rem;
          height: 2rem;
          position: absolute;
          background-color: #fff;
          top: -0.9rem;
          left: 50%;
          transform: translatex(-50%) rotate(45deg);
        }
        position: absolute;
        top: 3.8rem;
        left: -1rem;    
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 0.3s, visibility 0.4s, opacity 0.4s;
        left: -5rem;
        width: 12rem;
      
        box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 1rem;
        border-radius: 2rem;
        list-style: none;
      
        option {
          margin: 1rem 0;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          transition: all 0.3s;
          cursor: pointer;
      
          &:hover {
            background-color: rgb(233, 233, 233);
            border-radius: 2rem;
          }
      
          img {
            margin-right: 1rem;
          }
        }
      }








      &-file{
        &-rel {
          position: relative;
        }
      
        &-square {
          width: 2rem;
          height: 2rem;
          position: absolute;
          background-color: #fff;
          top: -0.9rem;
          left: 50%;
          transform: translatex(-50%) rotate(45deg);
        }
        position: absolute;
        top: 3.8rem;
        left: -1rem;    
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 0.3s, visibility 0.4s, opacity 0.4s;
        left: -10rem;
        width: 22rem;
      
        box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 1rem;
        border-radius: 2rem;
        list-style: none;
      
        option {
          margin: 1rem 0;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          transition: all 0.3s;
          cursor: pointer;
      
          &:hover {
            background-color: rgb(233, 233, 233);
            border-radius: 2rem;
          }
      
          img {
            margin-right: 1rem;
          }
        }
      }




      &-sign{
        &-rel {
          position: relative;
        }
      
        &-square {
          width: 2rem;
          height: 2rem;
          position: absolute;
          background-color: #fff;
          top: -0.9rem;
          left: 50%;
          transform: translatex(-50%) rotate(45deg);
        }
        position: absolute;
        top: 3.8rem;
        left: -1rem;    
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 0.3s, visibility 0.4s, opacity 0.4s;
        left: -10rem;
        width: 22rem;
      
        box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 1rem;
        border-radius: 2rem;
        list-style: none;
      
        option {
          margin: 1rem 0;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          transition: all 0.3s;
          cursor: pointer;
      
          &:hover {
            background-color: rgb(233, 233, 233);
            border-radius: 2rem;
          }
      
          img {
            margin-right: 1rem;
          }
        }
      }



    }
      
      .ticket-batch-visible {
     
        &-subject{

          visibility: visible;
          height: 17.7rem;
          opacity: 1;
          height: 21rem;
          width: 22rem;
          left: -10rem;
          z-index: 1;
        }


        &-priority{

          visibility: visible;
          height: 17.7rem;
          opacity: 1;
          height: 21rem;
          width: 12rem;
          left: -5rem;
          z-index: 1;
        }



        &-file{

          visibility: visible;
          height: 17.7rem;
          opacity: 1;
          height: 12rem;
          width: 22rem;
          left: -10rem;
          z-index: 1;
        }


        &-sign{

          visibility: visible;
          height: 17.7rem;
          opacity: 1;
          height: 12rem;
          width: 22rem;
          left: -10rem;
          z-index: 1;
        }
      }
     
      .ticket-batch-arrow {
        
        transition: all 0.2s;
      }
      
      .ticket-batch-rotate {
        transform: rotate(180deg);
      }
      
      .ticket-batch-rotate {
        transform: rotate(180deg);
      }



}

.reply{
  background-color: #2186f2;
  height:3rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  

}
.btn-cancel{
  background-color:   #F4F4F4 ;
  color: #9F9F9F;
      font-weight: 700;
      font-size: 1.9rem;
      width: 13rem;
      text-align: center;
      position: relative;
      top:-0.8rem;

  }




