.choose_requirement{
    margin-left : 50px;
    margin-top: 50px;
    font-size: 40px;
    font-family: Poppins;
font-style: normal;
font-weight: 500;

color: #515151;
}
.Reliving_letter{
    width: 325px;
height: 67px;
background: #FFFFFF;
border: 1px solid #EBE9E9;
box-sizing: border-box;
border-radius: 6px;
margin-left: 50px;
margin-top : 30px;
font-family: Poppins;
font-size: 40px;
line-height: 21px;
color: #000000;
text-align: center;
padding-top : 15px;
img {
    margin-left: 20px;
}
}

.Reliving_letter1{
    width: 525px;
height: 87px;
background: #FFFFFF;
border: 1px solid #EBE9E9;
box-sizing: border-box;
border-radius: 6px;
margin-left: 50px;
margin-top : 20px;
font-family: Poppins;
font-size: 40px;
line-height: 21px;
color: #000000;
text-align: center;
padding-top : 25px;

}
.Reliving_letter2{
    width: 525px;
height: 87px;
background: #FFFFFF;
border: 1px solid #EBE9E9;
box-sizing: border-box;
border-radius: 6px;
margin-left: 50px;
margin-top : 20px;
font-family: Poppins;
font-size: 40px;
line-height: 21px;
color: #000000;
text-align: center;
padding-top : 25px;

}
.Reliving_letter3{
    width: 325px;
height: 87px;
background: #FFFFFF;
border: 1px solid #EBE9E9;
box-sizing: border-box;
border-radius: 6px;
margin-left: 50px;
margin-top : 20px;
font-family: Poppins;
font-size: 40px;
line-height: 21px;
color: #000000;
text-align: center;
padding-top : 25px;
}
.text_email1{

    width: 1683px;
height: 331px;
margin-top: 20px;
margin-left : 50px;
background: #FFFFFF;
border: 1px solid #EBE9E9;
box-sizing: border-box;
border-radius: 6px;
img {
    padding-left: 30px;
    cursor: pointer;
}
}
.text_line_letter{
    position: absolute;
width: 1675px;
height: 0px;

border: 1px solid #EBE9E9;
}
.text_contain{
    font-family: Poppins;
   
font-size: 27px;
line-height: 39px;
margin-left : 50px;
margin-top : 50px;
color: #000000;
}
.link_contain{
    margin-left: 50px;
    margin-top : 50px;
    font-size:  27px;
}