.Add_bts5{
    position: absolute;
    width: 155px;
    height: 52px;
    margin-left: 1600px;
    margin-top: -400px;
    background: #F4F4F4;
    border-radius: 50px;
    font-size: 3rem;
   
    padding-left: 2rem;
    padding-top : 1rem;
}

.Add_bts6{
    position: absolute;
    width: 155px;
    height: 52px;
    margin-top: -400px;
    background: #2186F2;
  margin-left: 1800px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    font-size: 3rem;
    color : white;
    padding-left: 2rem;
    padding-top : 1rem;
   
}