
.candi_touch_office{
    width: 2072.56px;
height: 1px;
margin-left: 700px;
margin-top: -30px;
background:#E7E7E7;
}

.candi_Reliving{
    position: absolute;
    width: 552.46px;
    height: 75px;
    padding : 5px 50px 20px;
    margin-left: 2400px;
    margin-top : 100px;
    font-size: 40px;
    background: #FFFFFF;
    background: #2186F2;
    box-sizing: border-box;
    border-radius: 54px;
    color : white;
    cursor: pointer;
}