.btn_apply{
    position: absolute;
    width: 157px;
    height: 55px;
    font-size: 25px;
    color: #ffffff;
    padding: 10px 0px 0px 30px;
    left: 2600px;
    cursor: pointer;
    top: 240px;
    background: #2186F2;
    border-radius: 24px;
}