.navOptions{
   
    display: flex;
    margin-left: 450px;
    .option{
        cursor: pointer;
        display: inline;
        margin-right: 12rem;
        font-size: 24px;
        margin-top: 250px;
        margin-left: 100px;
        
        h3{
       font-size: 45px;
            display: inline;
            
        }
        &-active{

            border-bottom: 2px solid blue;
        }
       
    }
}