.generate_box_performance{
    position: absolute;
    width: 84%;
    height: 110%;
    top: 200px;
    
    background:   #F2F2F2;
}
.recruiters_dashboard{
    img{
        width : 20px;
        margin-top : 50px;
    }
}
.details_oda{
    position: absolute;
    width: 503px;
    height: 581px;
    top: 137px;
    left: 0px;
    background: #FFFFFF;
    border-radius: 20px;
    img{
        width : 190px;
        margin-top: 70px;
        margin-left: 150px;
    }
}
.details_head{
    font-size: 35px;
    font-family: Poppins;
    font-style: normal;
     font-weight: 500;
     margin-left: 170px;
     margin-top : 10px;
}
.recruiter_head{
    font-size: 25px;
    margin-left: 180px;
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
}
.credit_btn{
    padding: 13px 19px;
    position: absolute;
    width: 191px;
    height: 59px;
    left: 151px;
    top: 423px;
    background: #2186F2;
    border-radius: 30px;
    font-size: 20px;
    color: white;

}
.vacancy_status{
    position: absolute;
    width: 1786px;
    height: 685px;
    left : 600px;
    top : 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(62, 73, 84, 0.04);
    border-radius: 20px;
}
.contain_box{
    
position: absolute;
width: 539px;
height: 229px;
left : 350px;
top: 844px;
text-align: center;
padding-top: 60px;
background: #1BD084;
box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
border-radius: 20px;

        img {
      
            width: 290px;
            margin-left: -330px;
            margin-top: -70px;
        }
         h3 {
            font-size: 3.1rem;
            font-weight: 400;
            font-family: Poppins;
            color : white;
          }
          h1 {
            font-size: 6rem;
            color : white;
          }
}
.contain_box1{
    
    position: absolute;
    width: 539px;
    height: 229px;
    left : 1000px;
    top: 844px;
    text-align: center;
    padding-top: 60px;
    background: #FFAB09;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 20px;
    
            img {
          
                width: 290px;
                margin-left: -330px;
               
                margin-top: -70px;
            }
             h3 {
                font-size: 3.1rem;
                font-weight: 400;
                font-family: Poppins;
                color : white;
              }
              h1 {
                font-size: 6rem;
                color : white;
              }
    }

    .contain_box2{
    
        position: absolute;
        width: 539px;
        height: 229px;
        left : 1650px;
        top: 844px;
        text-align: center;
        padding-top: 60px;
        background: #4864F8;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 20px;
        
                img {
              
                    width: 290px;
                    margin-left: -330px;
                   
                    margin-top: -70px;
                }
                 h3 {
                    font-size: 3.1rem;
                    font-weight: 400;
                    font-family: Poppins;
                    color : white;
                  }
                  h1 {
                    font-size: 6rem;
                    color : white;
                  }
        }
        .contain_box3{
    
            position: absolute;
            width: 539px;
            height: 229px;
            left : 350px;
            top: 1144px;
            text-align: center;
            padding-top: 60px;
            background: #FE8126;;
            box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
            border-radius: 20px;
            
                    img {
                  
                        width: 290px;
                        margin-left: -330px;
                       
                        margin-top: -70px;
                    }
                     h3 {
                        font-size: 3.1rem;
                        font-weight: 400;
                        font-family: Poppins;
                        color : white;
                      }
                      h1 {
                        font-size: 6rem;
                        color : white;
                      }
            }
            .contain_box4{
                position: absolute;
                width: 539px;
                height: 229px;
                left: 1000px;
                top: 1144px;
                text-align: center;
                padding-top: 60px;
                background: #623AFF;
                box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
                border-radius: 20px;
                img {
                  
                    width: 290px;
                    margin-left: -330px;
                   
                    margin-top: -70px;
                }
                      
            
                         h3 {
                            font-size: 3.1rem;
                            font-weight: 400;
                            font-family: Poppins;
                            color : white;
                          }
                          h1 {
                            font-size: 6rem;
                            color : white;
                          }
                }
                .contain_box5{
    
                    position: absolute;
                    width: 539px;
                    height: 229px;
                    left : 1650px;
                    top: 1144px;
                    text-align: center;
                    padding-top: 60px;
                    background: #2186F2;
                    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
                    border-radius: 20px;
                    
                            img {
                          
                                width: 290px;
                                margin-left: -330px;
                               
                                margin-top: -70px;
                            }
                             h3 {
                                font-size: 3.1rem;
                                font-weight: 400;
                                font-family: Poppins;
                                color : white;
                              }
                              h1 {
                                font-size: 6rem;
                                color : white;
                              }
                    }