.Raise_close{
   
width: 157px;
height: 45px;
left: 800px;
top: 22px;
font-size: 3rem;
color: white;
padding-left: 5rem;
margin-left: 2650px;
background:  #2186F2;;
border-radius: 24px;
cursor: pointer;

}